{{range .}}
{{.Date.Format "2006/01/02"}}{{if .Cleared}} *{{end}}{{if .Pending}} !{{end}}{{if .Note}} {{.Note}}{{end}}
{{- if .Metadata -}}
    {{range $tag, $value := .Metadata}}
    ; {{$tag}}:{{$value}}
    {{- end}}
{{- end -}}
{{- range .Items}}
    {{acc .Account}}  {{signed .Amount}} {{.Currency}}{{if .Payee}} ; Payee: {{.Payee}}{{end}}
{{- end}}
{{end}}
