{{range .}}
{{.Date.Format "2006/01/02"}}{{if .Cleared}} *{{end}}{{if .Pending}} !{{end}}{{if .Payee}} {{.Payee}}{{end}}{{if .Note}}  ; {{ .Note}}{{end}}
{{- if .Metadata -}}
    {{range $tag, $value := .Metadata}}
    ; {{$tag}}:{{$value}}
    {{- end}}
{{- end -}}
{{- range .Items}}
    {{acc .Account}}  {{ if .Amount}}{{signed .Amount}} {{.Currency}}{{end}}{{ if .BalanceAssertion}} = {{signed .BalanceAssertion}} {{.Currency}}{{end}}{{if .Payee}} ; Payee: {{.Payee}}{{end}}
{{- end}}
{{end}}
